{% extends 'base.html' %} 
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
    <h4>LOGIN IN</h4>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Email Address">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Login</button>
    
{% endblock %}